.analog-clock .pointer {
  position: relative;
  height: 4px;
  width: 220px;
  left: calc(50% - 219px);
  background: white;
  top: calc(50% - 26px - 5px - 2px);
  transform-origin: right;
  /* z-index: -1; */
  border-radius: 9999px;
}
.analog-clock .pointer:hover {
  cursor: pointer;
}

.pointer.second {
  height: 2px;
  top: calc(50% - 2px / 2 - 8px - 26px - 5px);
}

.pointer.minute {
}

.pointer.hour {
  width: 150px;
  left: calc(50% - 150px);
  top: calc(50% - 4px - 2px - 26px - 5px);
}
